# Python cache
__pycache__/
*.pyc

# Pixi
.pixi/

# VS Code
.vscode/

# Conda envs
.env
.envs/

# ONNX/CoreML artifacts
*.onnx
*.mlmodel

# Virtual environment folders
venv/

# MacOS metadata
.DS_Store

# Logs and outputs
*.log
outputs/

# backup
finbert_trader_backup_*/

# data_cache
data_cache/

# scaler_cache
scaler_cache/

# model_cache
model_cache/

# results_cache
results_cache/

# logs
logs/

# notebooks
notebooks/
.ipynb_checkpoints
